<div class="main_section">
    <div class="container">
        <div class="chat_container">
            <div class="col-sm-3 chat_sidebar">
                <div class="row">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input class="  search-query form-control" placeholder="Conversation" type="text">
                        </div>
                    </div>
                    <div class="dropdown all_conversation">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fa fa-weixin" aria-hidden="true"></i>
               All Conversations
               <span class="caret pull-right"></span>
               </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="#"> All Conversation </a>
                                <ul class="sub_menu_ list-unstyled">
                                    <li><a href="#"> All Conversation </a> </li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="member_list">
                        <ul class="list-unstyled">

                            <li class="left clearfix">
                                <div class="chat-img pull-left">
                                    <img src="assets/img/avatar.jpg" alt="User Avatar" class="img-circle">
                                </div>

                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">Jack Sparrow</strong>
                                        <strong class="pull-right">09:45AM</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <span class="badge pull-right">3</span>
                                    </div>
                                </div>
                            </li>

                            <li class="left clearfix">
                                <div class="chat-img pull-left">
                                    <img src="assets/img/avatar.jpg" alt="User Avatar" class="img-circle">
                                </div>

                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">Jack Sparrow</strong>
                                        <strong class="pull-right">09:45AM</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <span class="badge pull-right">3</span>
                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <!--chat_sidebar-->


            <div class="col-sm-9 message_section">
                <div class="container">
                    <div class="row">
                        <!--new_message_head-->

                        <div class="chat_area">
                            <ul class="list-unstyled">
                                <li class="left clearfix">
                                    <span class="chat-img1 pull-left">
                                        <img src="assets/img/avatar.jpg" alt="User Avatar" class="img-circle">
                                    </span>
                                    <div class="chat-body1 clearfix">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia.</p>
                                        <div class="chat_time pull-right">09:40PM</div>
                                    </div>
                                </li>



                                <li class="right clearfix admin_chat">
                                    <span class="chat-img1 pull-right">
                                        <img src="assets/img/avatar.jpg" alt="User Avatar" class="img-circle">
                                    </span>
                                    <div class="chat-body1 pull-right clearfix">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
                                            College in Virginia.</p>
                                        <div class="chat_time pull-left">09:40PM</div>
                                    </div>
                                </li>




                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!--message_section-->
        </div>
    </div>
</div>