<ba-card title="House Details" baCardClass="with-scroll">

    <div *ngIf="houseInfo" class="container">

        <div class="row">


            <form class="form-horizontal" role="form">

                <div class="form-group row">
                    <label class="col-lg-2 control-label">Host:</label>
                    <div class="col-lg-4">
                        <span class="form-control">{{houseInfo.host_name}}</span>
                    </div>

                    <label class="col-lg-2 control-label">Rate:</label>
                    <div class="col-lg-2">
                        <span class="form-control">{{houseInfo.rate}}</span>
                    </div>


                    <div class="col-lg-2">
                        <button class="btn btn-success" (click)="setApprove(houseInfo.house_id)">
                            {{houseInfo.isApprove?"disapprove":"approve"}}
                            </button>
                    </div>


                </div>

                <div class="form-group row">
                    <label class="col-lg-2 control-label">House Type:</label>
                    <div class="col-lg-4">
                        <span class="form-control">{{houseInfo.house_type}}</span>
                    </div>

                    <label class="col-lg-2 offset-6 control-label">Total Room:</label>
                    <div class="col-lg-2">
                        <span class="form-control">{{houseInfo.total_room}}</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-2 control-label">Address:</label>
                    <div class="col-lg-10">
                        <span class="form-control">{{houseInfo.house_number}}, {{houseInfo.ward}}, District {{houseInfo.district}}, {{houseInfo.city}}, {{houseInfo.nation}}</span>
                    </div>
                </div>



            </form>



            <div class="leaflet-maps col-12"></div>


        </div>

    </div>

</ba-card>