<ba-card title="View Profile" baCardClass="with-scroll">

    <div class="container" *ngIf="userInfo">

        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <img src="assets/img/100.png" class="avatar img-circle" alt="avatar">
                    <h6>{{userInfo.fullname}}</h6>
                </div>
            </div>


            <!-- edit form column -->
            <div class="col-md-9 personal-info">

                <tabset type="pills">
                    <tab heading="Personal info">

                        <form class="form-horizontal" role="form">

                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Gender:</label>
                                <div class="col-lg-8">
                                    <span class="form-control">{{userInfo.gender}}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Student Id:</label>
                                <div class="col-lg-8">
                                    <span class="form-control">{{userInfo.student_id}}2251</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Birthday:</label>
                                <div class="col-lg-8">
                                    <span class="form-control">{{userInfo.dob}}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Phone:</label>
                                <div class="col-lg-8">
                                    <span class="form-control">{{userInfo.phone}}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Address:</label>
                                <div class="col-lg-8">
                                    <span class="form-control">{{userInfo.address}}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Email:</label>
                                <div class="col-lg-8">
                                    <span class="form-control">{{userInfo.email}}</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-3 control-label">Status:</label>
                                <div class="col-lg-8">
                                    <span class="form-control">{{ (userInfo.is_banned) ? "Blocked" : "Activated"}}</span>
                                </div>
                            </div>



                        </form>
                    </tab>
                    <tab heading="Chat histories">
                        <chat-histories></chat-histories>
                    </tab>

                    <tab heading="Transactions">
                        <trans [tranList]="tranList"></trans>
                    </tab>

                    <tab heading="House">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="black-muted-bg">
                                    <th class="align-right">Title</th>
                                    <th class="align-right">Country</th>
                                    <th class="align-right">House Type</th>
                                    <th class="align-right">Address</th>
                                    <th class="align-right">Visited</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of houseInfo" (click)="viewDetails(item.id)" style="cursor: pointer;">
                                    <td class="align-right">{{item.id}}</td>
                                    <td class="align-right">{{item.host_id}}</td>
                                    <td class="align-right">{{item.house_type}}</td>
                                    <td class="align-right">{{item.address}}</td>
                                    <td class="align-right">{{item.visited_count}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </tab>
                </tabset>


            </div>
        </div>
    </div>
    <hr>

</ba-card>