<ba-card title="Rooms Management" baCardClass="with-scroll">

    <!-- Search -->
    <div class="input-group">
        <input class="form-control" placeholder="Search for..." type="text" #searchInput>
        <span class="input-group-btn">
            <button class="btn btn-success" type="button">Go!</button>
        </span>
    </div>
    <!-- /Search -->


    <table class="table table-bordered">
        <thead>
            <tr class="black-muted-bg">
                <th class="align-right">Room Name</th>
                <th class="align-right">Room Type</th>
                <th class="align-right">Price</th>
                <th class="align-right">Location</th>
                <th class="align-right">Country</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data" (click)="viewDetails(item.house_id)" style="cursor: pointer;">
                <td>{{item.room_name}}</td>
                <td>{{item.room_type}}</td>
                <td>{{item.price}}</td>
                <td>{{item.location}}</td>
                <td>{{item.country}}</td>
            </tr>
        </tbody>
    </table>


</ba-card>