<ba-card title="Transaction Manage" baCardClass="with-scroll">

    <table class="table table-bordered">
        <thead>
            <tr class="black-muted-bg">
                <th class="align-right">Book Id</th>
                <th class="align-right">Room Name</th>
                <th class="align-right">Guest Name</th>
                <th class="align-right">Host Name</th>
                <th class="align-right">Payment Method</th>
                <th class="align-right">Price</th>
                <th class="align-right">Status</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of data">
                <td class="align-right">{{item.Id}}</td>
                <td class="align-right">{{item.RoomName}}</td>
                <td class="align-right">{{item.GuestName}}</td>
                <td class="align-right">{{item.HostName}}</td>
                <td class="align-right">{{item.Status}}</td>
                <td class="align-right">{{item.PaymentMethod}}</td>
                <td class="align-right">{{item.price}}</td>
            </tr>

        </tbody>
    </table>
</ba-card>