<ba-card title="Transaction Manage" baCardClass="with-scroll">

    <table class="table table-bordered">
        <thead>
            <tr class="black-muted-bg">
                <th class="align-right">Book Id</th>
                <th class="align-right">Room Name</th>
                <th class="align-right">Guest Name</th>
                <th class="align-right">Host Name</th>
                <th class="align-right">Payment Method</th>
                <th class="align-right">Price</th>
                <th class="align-right">Status</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of data">
                <td class="align-right">{{item.book_id}}</td>
                <td class="align-right">{{item.room_name}}</td>
                <td class="align-right">{{item.guest_name}}</td>
                <td class="align-right">{{item.host_name}}</td>
                <td class="align-right">{{item.status}}</td>
                <td class="align-right">{{item.payment_method}}</td>
                <td class="align-right">{{item.price}}</td>
            </tr>

        </tbody>
    </table>
</ba-card>